---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=mG1cgzT9EB58w05D2wqnDwqqd01YayuG&location=10801%20US&timesteps=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 9eca5c41-d990-4b34-832b-5fb4503549cf
      X-Db-Credits-Cost:
      - '13'
      X-Ratelimit-Remaining-Plan-5f857927f9d5bdc6c63abb67:
      - '10'
      X-Ratelimit-Remaining-Plan-5f96c370732c89cb4d9a98e8:
      - '3'
      X-Ratelimit-Remaining-Plan-5fa4047f4acee993fbd7399d:
      - '3'
      X-Ratelimit-Remaining-Plan-5fb2a269785f8043656f245e:
      - '10'
      X-Ratelimit-Remaining-Plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      X-Ratelimit-Remaining-Plan-600d73bef98f624e9adcf465:
      - '5'
      X-Ratelimit-Remaining-Plan-600d742fdee75e4e9aab6661:
      - '5'
      X-Ratelimit-Remaining-Plan-6036283133bb2ff6d4bd82a7:
      - '3'
      X-Ratelimit-Remaining-Plan-606d86d0a26c4d7df907bc7a:
      - '5'
      X-Ratelimit-Remaining-Plan-609d458bdd3d437ff19fd44f:
      - '5'
      X-Ratelimit-Remaining-Plan-60d46beae90c3b3549a59ff3:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00adf8d481f9421462962:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00d40803f8e9421c5a7f8:
      - '5'
      X-Ratelimit-Remaining-Plan-60f58bbc299fbc36c91529aa:
      - '5'
      X-Ratelimit-Remaining-Plan-648b3f22ef567da8b7fb4599:
      - '3'
      X-Ratelimit-Remaining-Plan-649ab4540000000000b71412:
      - '3'
      X-Ratelimit-Remaining-Web-App:
      - '500000'
    body:
      encoding: ASCII-8BIT
      string: '{"timelines":{"daily":[{"time":"2025-03-05T11:00:00Z","values":{"cloudBaseAvg":0.3,"cloudBaseMax":1.2,"cloudBaseMin":0,"cloudCeilingAvg":0.3,"cloudCeilingMax":1.2,"cloudCeilingMin":0,"cloudCoverAvg":97,"cloudCoverMax":100,"cloudCoverMin":49,"dewPointAvg":8.2,"dewPointMax":10.1,"dewPointMin":4.7,"evapotranspirationAvg":0.034,"evapotranspirationMax":0.066,"evapotranspirationMin":0.005,"evapotranspirationSum":0.823,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"hailProbabilityAvg":47.9,"hailProbabilityMax":92.9,"hailProbabilityMin":6.5,"hailSizeAvg":5.74,"hailSizeMax":9.89,"hailSizeMin":0.2,"humidityAvg":86,"humidityMax":100,"humidityMin":73,"iceAccumulationAvg":0,"iceAccumulationLweAvg":0,"iceAccumulationLweMax":0,"iceAccumulationLweMin":0,"iceAccumulationLweSum":0,"iceAccumulationMax":0,"iceAccumulationMin":0,"iceAccumulationSum":0,"moonriseTime":"2025-03-05T14:14:18Z","moonsetTime":"2025-03-05T04:53:14Z","precipitationProbabilityAvg":24.8,"precipitationProbabilityMax":100,"precipitationProbabilityMin":0,"pressureSeaLevelAvg":1001.19,"pressureSeaLevelMax":1013.31,"pressureSeaLevelMin":990,"pressureSurfaceLevelAvg":999.8,"pressureSurfaceLevelMax":1013.52,"pressureSurfaceLevelMin":988.55,"rainAccumulationAvg":1.57,"rainAccumulationLweAvg":1.48,"rainAccumulationLweMax":11.83,"rainAccumulationLweMin":0,"rainAccumulationMax":11.83,"rainAccumulationMin":0,"rainAccumulationSum":37.77,"rainIntensityAvg":1.49,"rainIntensityMax":11.83,"rainIntensityMin":0,"sleetAccumulationAvg":0,"sleetAccumulationLweAvg":0,"sleetAccumulationLweMax":0,"sleetAccumulationLweMin":0,"sleetAccumulationLweSum":0,"sleetAccumulationMax":0,"sleetAccumulationMin":0,"sleetIntensityAvg":0,"sleetIntensityMax":0,"sleetIntensityMin":0,"snowAccumulationAvg":0,"snowAccumulationLweAvg":0,"snowAccumulationLweMax":0,"snowAccumulationLweMin":0,"snowAccumulationLweSum":0,"snowAccumulationMax":0,"snowAccumulationMin":0,"snowAccumulationSum":0,"snowDepthAvg":0,"snowDepthMax":0,"snowDepthMin":0,"snowDepthSum":0,"snowIntensityAvg":0,"snowIntensityMax":0,"snowIntensityMin":0,"sunriseTime":"2025-03-05T11:22:00Z","sunsetTime":"2025-03-05T22:50:00Z","temperatureApparentAvg":10.3,"temperatureApparentMax":13.3,"temperatureApparentMin":4.8,"temperatureAvg":10.3,"temperatureMax":13.3,"temperatureMin":4.8,"uvHealthConcernAvg":0,"uvHealthConcernMax":1,"uvHealthConcernMin":0,"uvIndexAvg":0,"uvIndexMax":2,"uvIndexMin":0,"visibilityAvg":9.96,"visibilityMax":16,"visibilityMin":0.1,"weatherCodeMax":1001,"weatherCodeMin":1001,"windDirectionAvg":170,"windGustAvg":14.6,"windGustMax":23,"windGustMin":3.9,"windSpeedAvg":6.1,"windSpeedMax":9,"windSpeedMin":1}},{"time":"2025-03-06T11:00:00Z","values":{"cloudBaseAvg":1.2,"cloudBaseMax":5.2,"cloudBaseMin":0,"cloudCeilingAvg":0.5,"cloudCeilingMax":6.1,"cloudCeilingMin":0,"cloudCoverAvg":87,"cloudCoverMax":100,"cloudCoverMin":3,"dewPointAvg":1,"dewPointMax":8.2,"dewPointMin":-7.1,"evapotranspirationAvg":0.062,"evapotranspirationMax":0.103,"evapotranspirationMin":0.019,"evapotranspirationSum":1.493,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"hailProbabilityAvg[...]
[...]
